<%= div_for brain do%>
  <table>

<table>
  <thead>
    <tr>
      <th width="200">Se creo</th>
      <th>Sabor</th>
      <th width="150"></th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td> <%=time_ago_in_words(brain.created_at)%></td>
      <td><%=brain.flavor%></td>
    </tr>
 
  
  </tbody>
</table>
<%end%>    