<%= form_for(zombie) do |f| %>
  <% if zombie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zombie.errors.count, "error") %> prohibited this zombie from being saved:</h2>

      <ul>
      <% zombie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">
    <div class="small-12 large-5 columns">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
        </div>
     <div class="small-12 large-6 columns">
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>    
  <div class="field">
    <%= f.label :rotten %>
      <%= f.check_box :rotten %>
  </div>  
      <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div> 
        
  </div>
    
    </div>
  <div class="actions">
    <%= f.submit class:"button success" %>
  </div>
    
<% end %>
