// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ava{
    width: 220px;
    height: 110px;
}
.ava2{
    width: 320px;
    height: 2310px;
}